<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio de Sesión</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
</head>
<body>
	<br><br>
	<h1 class="login">Inicio de sesión administrativo</h1>
		<div id="login">
			<form class="login_form" action="/login" method="post">
	
				<label for="admin">Usuario Administrador</label>
				<input type="text" name="admin" required="required">
				<br>
				<label for="password">Contraseña</label>
				<input type="password" name="password" required="required">
				<input type="submit" name="enviar" value="Entrar" id='iniciar'>	
			</form>
		</div>
		<a href="/"><img src="/img/back.png" width="30" id="Backinit"></a>

</body>
</html>