<style type="text/css">
	body{
		background-attachment: fixed;
		background:cover;
		background-color: #191c32;
	}
</style>
<body>
	<h1 style='margin-left:40%;line-height:450px;color: white;'>Datos inválidos</h1>
</body>