*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #24303c;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding-left: 5px;
    height: 90px;
    width: 100%;

    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .body{
        flex-wrap: nowrap;
    }
    .header{
        position: fixed;
    }
}

@media screen and (width<600px) {
    .body{
        flex-wrap: nowrap;
    }
    .header{
        position: fixed;
    }
}


header{
    position: fixed;
}

.nombre{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.table{
    margin:50px auto;
    width:80%;
    background:rgb(0,0,0,.7);
    }

table{
     color:white;
     width:100%;
}

h1{
    color: white;
    text-align: center;
}

td{
    text-align: center;
}