<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
    <style>
        #boton{
	        margin-left: 48%;
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/img/Mister.png" alt="El logo de Mister" width="110px" height="90px"></a>
            
        </div>
        <div class="nombre">
            <h1>THE MISTER</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/categorias">Categorias</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/imagenes">Imagenes</a></li>
                <li><a href="/tablaclientes">Clientes</a></li>
                <li><a href="/tablacompras">Facturas</a></li>
                <li><a href="/logout"><img src="/img/apagar.png" width="30" id="boton"></a></li>
            </ul>
        </nav>
    </header><br>
    
    <p>¿Quién es Mister? Para el ciego, es la luz. Para el hambriento, es el pan. Para el enfermo, es la cura. Para el solitario, es el compañero. Para el triste, es la alegría. Para el prisionero, es la libertad. Para el pobre, es el tesoro.</p><br><br>

    <h2>Administrador</h2>
    <div style="text-align: center">
        <img class="zoom" src="/img/ImagendeMister.jpg" alt="Una foto de Mister" id="Mister" width="150px" height="250px">
    </div>
    
    <div class="caja">
        <h3>Manuel Benaventa</h3>
        <h3>Apodo: Mister</h3>
        <h3>Cédula: 27211156</h3>
        <h3>Nacimiento: 04 de agosto de 1999 (24 años) Camaguán (Guárico)</h3>
        <h3>Nacionalidad: Venezolano</h3>
        <h3>Tiempo Programando: 3 días</h3>
        <h3>Se que no es la página más bonita del mundo, pero me esforcé mucho haciendola, tener en cuenta eso al evaluar.</h3>
        <h1><a target="_blank" href="https://youtube.com/playlist?list=PLnFuxndZgZsSavNSK25ePK1Cqttf7eZNT&si=dK5VcEoavNDBRNXD" class="btn_btn-info" style="color: rgb(162, 0, 92);">Pulsa aquí para ver el mejor trabajo de Mister</a></h1>
    </div>
 
    <style>
        .caja { 
            font-family:'Times New Roman', Times, serif; 
            color: #ffffff; 
            font-size: 18px; 
            font-weight: 400; 
            text-align: center; 
            background: rgb(134, 142, 163); 
            margin: 0 0 25px; 
            overflow: hidden; 
            padding: 20px; 
            border-radius: 35px 0px 35px 0px; 
            -moz-border-radius: 35px 0px 35px 0px; 
            -webkit-border-radius: 35px 0px 35px 0px; 
            border: 2px solid #000000;
        }
        h2{
            color: white;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 35px; 
        }
        h3{
            color: white;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
        }
        .zoom {
            transition: transform .2s; 
        }

        .zoom:hover {
            transform: scale(1.5); 
        }
    </style>
    
    <style>
        p{
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            text-align: center;
            padding: 0px;
            margin: 5px 5px 5px 5px;
        }
    </style>
</body>
</html>