<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/otros.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
</head>
<body>
    <div class="cate"><br><br><br><br><br>
        <form action="/aggctg" method="post">
            <input class="name" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de la categoria" required maxlength="25" minlength="4"><br>
            <button type="submit" class="btn_btn-primary">Agregar</button>
        </form>
    </div>

    <a href="/categorias"><img src="/img/back.png" width="30" id="volverAtras"></a>

</body>
</html>