<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/actualizar.css">
</head>
<body>
<h1 id="eliminar">Eliminar Registro</h1>

<form action="/borrar/<%=modelo.producto_id%>" method="post">
  <div class='flex-principal'>
    <%- include('editorcentral') -%>
    <div id="cancelar4">
      <input type="submit" value="Eliminar" id="delete"><br><br>
    </div>
    <a href="/productos"><img src="/img/back.png" width="30" id="volverAtras3"></a>
  </div>
</form>
</body>
</html>