<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/Mister.png" alt="El logo de Mister" width="110px" height="90px">
        </div>
        <div class="nombre">
            <h1>THE MISTER</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/clientes"><img src="/img/usuario.png" width="30" id="boton"></a></li>
            </ul>
        </nav>
    </header><br><br><br><br><br><br><br><br><br><br><br>


    </div style="text-align: center, color: white">
        <h1 class="h1">Gracias por compartir tu opinión</h1>
    </div><br><br><br>
    <a style="margin-left: 48%" tipe="button" href="/clientes"><img src="/img/back.png" width="30px"></a>


</body>

</html>
</body>

</html>