<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE MISTER</title>
       
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-size: 10%;
            background-color: #23145b;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #3a5b5a ;
            border: 2px solid #160d18;
            border-radius: 5px;
            text-align: center;
        }

        h1 {
            margin-top: 0;
            font-size: 36px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            color: white;
        }

        p {
            font-size: 18px;
            font-family: Arial, sans-serif;
        }
        img{

            height: 0%;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: rgb(125, 116, 116);
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color:#23145b;
        }

    </style>
</head>
<body style="text-align: center;">
    <div class="container">
    <h1>Error
    </h1>
    <p>Las contraseñas no coinciden</p>

    <a type="button" class="btn btn-dark" href="/register-pag">Volver a intentar</a>
    </div>

</body>
</html>