<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/otros.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">


</head>
<body><br><br><br>
    <h3>¿Desea eliminar este producto?</h3><br><br>
    <div>
        <h3>¿Está seguro de eliminar esta Imagen?</h3><br>
        <form action="/deleteimg/<%= imagenes.id %>" method="get">
            <div style="text-align: center;">
                <img src="<%= imagenes.url %>"><br>

            </div>
            <h4>Destacado: <%= imagenes.destacado %></h4><br>
            <button type="submit" class="btn_btn-primaryy">Eliminar</button>
        </form>
    </div>
    <a href="/imagenes"><img src="/img/back.png" width="30" id="boton"></a>

    <style>
        h4{
            text-align: center;
            color: white;
            font-size: 20px;
            font-family:'Times New Roman', Times, serif;
        }
        h3{
            text-align: center;
            color: white;
            font-size: 25px;
            font-family:'Times New Roman', Times, serif;
        }
        #boton{
	        margin-left: 49%;
            margin-top: 5%;
        }
        .btn_btn-primaryy {
            width: 7%;
            background: #828e9b;
            border: none;
            padding: 3px;
            color: rgb(0, 0, 0);
            margin-left: 47%;
            margin-top: 10px;
            font-size: 12px;
            border-radius:5px 5px 5px 5px;
	        cursor: pointer;
        }
    </style>
</body>
</html>