<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Mister</title>
    <link rel="stylesheet" href="/css/styleInicio.css">
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
</head>
<body>
    <br>
    <h1 id="TitleMister">THE MISTER</h1>
    <style>
        #TitleMister{
            margin-left: 35%;
            font-size: 50px;
        };
    </style>
    <br><br><br>
    <a id="log" href="/login">Administrador</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <style>
        #log{
            margin-left: 44%;
        };
    </style>
</body>
    <footer>
        <hr>
        <p id="der"><small> Derechos reservados para Chicago & Dee Company</small></p>
        <style>
            #der{
                margin-left: 36%;
            };
        </style>
    </footer>
    </html>