<!DOCTYPE html>
<html>
  <head>
    <title>The Mister</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Datos</h1>
    <p>Manuel Benaventa, 27211156, sección 4</p>
  </body>
</html>
