<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
    <style>
        .colo{
            color: white;
        }
        .slyder{
            width: 100%;
            margin: auto;
            overflow: hidden;
        }

        .slyder ul{
            padding: 0;
            display: flex;
            width: 400%;
        
            animation: cambio 20s infinite alternate linear;
        }

        .slyder li{
            list-style: none;
            width: 100%;
        }

        .slyder img{
            width: 25%;
            height: 320px;
        }

        @keyframes cambio {
            0% {margin-left: 0;}
            20% {margin-left: 0;}
        
            25% {margin-left: -100%;}
            45% {margin-left: -100%;}
        
            50% {margin-left: -200%;}
            70% {margin-left: -200%;}
        
            75% {margin-left: -300%;}
            100% {margin-left: -300%;}
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/Mister.png" alt="El logo de Mister" width="110px" height="90px">
        </div>
        <div class="nombre">
            <h1>THE MISTER</h1>
        </div>
        <nav>
            <ul>
                <li><a class="colo" href='/index' id='botonProductos'>Admin</a></li>
                <li><a class="colo" href="/clientes" id='botonProductos'>Clientes</a></li>
            </ul>
        </nav>
    </header><br><br><br><br><br><br>
    
    <section>
        <div style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font-size: 25px;">
            <p>BIENVENIDOS A THE MISTER</p>
        </div>
        <div style="text-align: center; color:white; font-family:'Times New Roman', Times, serif; font-size: 15px;">
            <p>Tu sitio de confianza en cuanto a sillas</p>
        </div>
    </section><br><br>
    <section>
        <div class="slyder" style="text-align: center; color: white; font-family:'Times New Roman', Times, serif; font-size: 20px;">
            <ul>
             <li><img src="/img/1.png" alt="Imagen 1"><br>Los mejores materiales</li>
             <li><img src="/img/2.png" alt="Imagen 2"><br>La mejor comodidad</li>
             <li><img src="/img/3.png" alt="Imagen 3"><br>El mejor diseño</li>
             <li><img src="/img/4.png" alt="Imagen 4"><br>Para la mejor silla</li>
            </ul><br><br>
        </div>
    </section><br><br><br>
    
    <section>
        <div class="container">
            <div>
                <h2 style="color: white; text-align: center">QUIENES SOMOS</h2>
                <button id="ver-mas"><img src="/img/down.png" alt="icono hacia abajo" width="30px"></button>
                <div id="mas-informacion" class="hidden">
                    <div class="catdes">
                        <div class="caja">
                            <p>THE MISTER es un minorista tradicional online nacional de sillas de escritorio que está comprometido con hacer que cada persona pueda sentirse cómoda a la hora de sentarse. Utilizamos tecnología de fabricación bajo demanda, para conectar a los proveedores con nuestra ágil cadena de suministro, reduciendo el desperdicio de inventario y permitiéndonos entregar una variedad de productos asequibles a clientes de todo el país. Desde nuestras oficinas, llegamos a clientes en cada rincón de Venezuela.</p>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div>
                <h2 style="color: white; text-align: center">HISTORIA</h2>
                <button id="ver-mas1"><img src="/img/down.png" alt="icono hacia abajo" width="30px"></button>
                <div id="mas-informacion1" class="hidden">
                    <div class="catdes">
                        <div class="caja">
                            <p>THE MISTER nace a finales del siglo XIX en Camaguán, Guárico, como un taller de carpintería que se dedicaba única y exclusivamente a la fabricación de monturas para caballos. Su fundador fue Edward Alphonse Benavent, un migrante que llegó a Venezuela escapando del Reich alemán luego de dedicarse por años a robar caballos.</p><br>
                            <p>Cuando el señor Benavent llegó al país y comenzó su negocio de "tomar prestados" caballos de ganaderos ostentosos, se dió cuenta que las monturas eran extremadamente incómodas y le producian dolores de espalda, según él, "Un hombre que va incomodo sobre una bestia tan magestuosa como un caballo, es un hombre que jamás podrá saber lo que es la libertad plena". Así que con este concepto en mente se dispuso a fabricar lo que ahora pueden considerarse como monturas de caballos ergonómicas.</p><br>
                            <p>En sus primeros años, el reformado "Mister Benavent", como era conocido, se dedicó a diseñar y perfeccionar monturas de todos los tipos y tamaños, él probó personalmente cada silla fabricada bajo su sello, quería la perfección y con los años la consiguió, creó las monturas perfectas que cada jinete respetado llevaba consigo y THE MISTER se convirtió en un exito, pero no duró demasiado.</p><br>
                            <p>Mister Benavent no disfrutó demasiado su exito, tan solo un par de días después de innaugurar su mega fábrica de monturas de caballos, fue irónicamente asesinado por unos ladrones de caballos juveniles que entraron a su rancho a las afueras de Camaguán. La ciudad jamás se repuso de su pérdida y su fábrica tampoco, al cabo de unos años las malas gestiones la llevaron a la quiebra y THE MISTER cerró permanentemente... al menos eso se creía.</p><br>
                            <p>Decadas más tarde del asesinato de Mister Benavent, uno de sus nietos, Manuel Benavent I, reabrió el negocio familiar parcialmente extinto, quería llevar a THE MISTER a lo que era antes, pero las monturas de caballos ya no eran un recurso demasiado solicitado, los automoviles había bajado ese mercado, por lo que Manuel Benavent I buscó otro negocio más rentable, las sillas de escritorio.</p>
                            <p>Fue difícil posicionarse en el exigente mundo las sillas de escritorio, pero fiel a su abuelo, Manuel Benavent I buscaba excelencia, así que con buenas inversiones, grandes socios y el legado de Mister Benavent, THE MISTER volvió a ser grande.</p>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div>
                <h2 style="color: white; text-align: center">AFILIADOS</h2>
                <button id="ver-mas2"><img src="/img/down.png" alt="icono hacia abajo" width="30px"></button>
                <div id="mas-informacion2" class="hidden">
                    <div class="catdes">
                        <div class="caja">
                           
                            <a href="https://youtu.be/dY7G3gNUX9M?si=67J68iUJf_2Rvlyu" style="color: white;" target="_blank">SILLAS CAPITOL SA</a>
                            <img src="/img/AFILIADOS/SILLASCAPITOL.png" alt="Logo Sillas Capitol" width="500px"><br><br>
                            <a href="https://youtu.be/aRVzlByht18?si=HCum8wdbe4C0T1xA" style="color: white;" target="_blank">HORSE VILLAGE</a>
                            <img src="/img/AFILIADOS/HORSEVILLAGE.png" alt="Logo Horse Village" width="500px"><br><br>
                            <a href="https://youtu.be/ZnUzHvR0BcQ?si=7jf_SX089cwp8KRi" style="color: white;" target="_blank">PANDA WORLD WIDE</a>
                            <img src="/img/AFILIADOS/PANDAWW.png" alt="Logo Panda world wide" width="500px"><br><br>
                            <a href="https://youtu.be/VctmimPBd_k?si=ihcA0ShtjDPVvJMx" style="color: white;" target="_blank">BENAVENT ENTERPRISES</a>
                            <img src="/img/AFILIADOS/BENAVENT.png" alt="Logo Benavent Enterprises" width="500px"><br><br>
                            <a href="https://youtu.be/kOod20dG5Co?si=ItgYeeRUO0ynlIFK" style="color: white;" target="_blank">DOÑA MECHA</a>
                            <img src="/img/AFILIADOS/MECHA.png" alt="Logo Doña Mecha" width="500px"><br><br>
                            <a href="https://youtu.be/4Q6bQuHHuis?si=uEv_H7hbmb4vDn_K" style="color: white;" target="_blank">CC GAMAJAS-JEMAL</a>
                            <img src="/img/AFILIADOS/GJ.png" alt="Logo GAMAJAS-JEMAL" width="500px"><br><br>
                            <a href="https://youtu.be/X6ie-IAW-bU?si=93qivTt04RHI99rt" style="color: white;" target="_blank">CHICAGO & DEE COMPANY</a>
                            <img src="/img/AFILIADOS/CDC.png" alt="Logo Chicago & Dee Company" width="500px"><br><br>
                            
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div>
                <h2 style="color: white; text-align: center"> CITAS DE MISTER</h2>
                <button id="ver-mas3"><img src="/img/down.png" alt="icono hacia abajo" width="30px"></button>
                <div id="mas-informacion3" class="hidden">
                    <div class="catdes">
                        <div class="caja">
                            <p>"Lo que hace un ladrón de caballos es tan digno como lo que hace un médico, solo tenemos mala publicidad."</p>
                            <p style="color: black">Mister Benavent a su amigo Ludwig Von Strauss</p><br><br>
                            <p>"Una cosa si te diré, querida, en Alemania jamás hubieramos logrado esto."</p>
                            <p style="color: black">Mister Benavent a su esposa Elena</p><br><br>
                            <p>"Un hombre debe tener tres cosas en esta vida; una mujer, una pistola y una buena silla."</p>
                            <p style="color: black">Mister Benavent a su hijo Hamly</p><br><br>
                            <p>"Cuando emigré a esta bonita ciudad, sus costumbres me horrorizaron...pero de todas ellas la más horrible fue verlos montar sin una silla."</p>
                            <p style="color: black">Mister Benavent a los habitantes de Camaguán</p><br><br>
                            <p>"Vamos a crear la industria de sillas más importante de este país, nos van a tener envidia una vez lo concretemos."</p>
                            <p style="color: black">Mister Benavent a su socio Ulrich Goebbles</p><br><br>
                            <p>"Señor Alcalde, le doy doce horas para que saque a sus soldaditos de mi rancho, por cada segundo que pase después de esas doce horas, le enviaré un dedo de ellos."</p>
                            <p style="color: black">Mister Benavent al alcalde de Camaguán</p><br><br>
                            <p>"Hoy es un día historico para la familia Benavent, hoy el futuro comienza, hoy loa vida nos sonríe, hoy nace THE MISTER."</p>
                            <p style="color: black">Mister Benavent a su familia</p><br><br>
                            <p>"Si he de morir algún día, que sea en mi rancho al lado de mis caballos, cualquier otra muerte sería decepcionante."</p>
                            <p style="color: black">Mister Benavent al presidente Juan Vicente Gómez</p>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div>
                <h2 style="color: white; text-align: center"> GUIA DE SILLAS</h2>
                <button id="ver-mas4"><img src="/img/down.png" alt="icono hacia abajo" width="30px"></button>
                <div id="mas-informacion4" class="hidden">
                    <div class="catdes">
                        <div class="caja">
                            <p style="color: black">CONFIDENTES O FIJAS</p>
                            <p>Es una silla fija, con respaldo y su nombre viene por ser la típica de los interrogatorios de las películas. Este tipo de sillas no están indicadas para los trabajadores en la medida en que no tienen movilidad y tampoco son ajustables en cuanto a respaldo o altura. Sin embargo, pueden ser una buena opción para los espacios de recepción.</p><br><br>
                            <p style="color: black">OPERATIVAS</p>
                            <p>Las sillas operativas son las que cuentan con ruedas y son también del tipo clásico en una oficina. Son sillas giratorias y elevables en altura y existen en numerosos diseños distintos. Estos ofrecen una gran variedad en cuanto a telas, colores y formas.</p><br><br>
                            <p style="color: black">ERGONÓMICAS</p>
                            <p>Son el tipo indicado para oficinas. Estas son sillas que cuidan sobre todo la salud y de paso la comodidad. Son regulables en altura y profundidad, por lo que son ideales para cualquier persona. Cuentan también con posición de balanceo para ajustar la tensión de la espalda al respaldo. También cuenta con sistema de sincronización para su ajuste automático. Igualmente, cuentan con materiales transpirables y tienen una gran durabilidad.</p><br><br>
                            <p style="color: black">RESPALDO SINCRONIZADO</p>
                            <p>Las sillas de respaldo sincronizado son aquellas que cuentan con un mecanismo que se ajusta automáticamente a la espalda. De esa manera, se pueden fijar en un ángulo deseado y al mismo tiempo regular la inclinación del asiento en general. Son esas que pueden balancearse atrás y adelante dejando que siempre el respaldo vuelva a su posición de forma automática. Son sillas ideales indicadas para largas jornadas de trabajo en la oficina gracias a su gran comodidad.</p><br><br>
                            <p style="color: black">CONTACTO PERMANENTE</p>
                            <p>Estas sillas reciben su nombre por la naturaleza de su respaldo. Este es un tipo de silla en la que es posible ajustar tanto la altura, como la profundidad como el ángulo de inclinación de la misma. Por ello, este siempre está en contacto con la espalda. Estas sillas están indicadas para corregir la postura de la espalda. Por ello, además de para las oficinas y el uso profesional están indicadas para personas jóvenes que tienen que rectificar su postura y adquirir buenos hábitos.</p><br><br>
                            <p style="color: black">GAMER</p>
                            <p>Las sillas gaming son las sillas especialmente pensadas para jugar videojuegos. Las sillas gaming requieren algunas características específicas que no todas las sillas de oficina cumpplen. Por ello se diseñó un nuevo tipo de silla pensanda en los gamers y en sus necesidades.</p>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </section>

    
    <style>
        .container{
            text-align: center;
        }
        .hidden{
            display: none;
        }

        .catdes{
            display: flex;
            padding: 10px 10px 10px 10px;
        }
        .caja { 
            font-family:'Times New Roman', Times, serif; 
            color: #ffffff; 
            font-size: 18px; 
            font-weight: 400; 
            text-align:center;
            background: rgb(134, 142, 163); 
            margin: 0 200px 0 200px; 
            overflow: hidden; 
            padding: 20px; 
            border-radius: 35px 0px 35px 0px; 
            -moz-border-radius: 35px 0px 35px 0px; 
            -webkit-border-radius: 35px 0px 35px 0px; 
            border: 2px solid #000000;
        }
    </style>
    <script>
        const botonVerMas = document.getElementById('ver-mas');
        const masInformacion = document.getElementById('mas-informacion');

        botonVerMas.addEventListener('click', function(){
            masInformacion.classList.toggle('hidden');
        });

        const botonVerMas1 = document.getElementById('ver-mas1');
        const masInformacion1 = document.getElementById('mas-informacion1');

        botonVerMas1.addEventListener('click', function(){
            masInformacion1.classList.toggle('hidden');
        });

        const botonVerMas2 = document.getElementById('ver-mas2');
        const masInformacion2 = document.getElementById('mas-informacion2');

        botonVerMas2.addEventListener('click', function(){
            masInformacion2.classList.toggle('hidden');
        });

        const botonVerMas3 = document.getElementById('ver-mas3');
        const masInformacion3 = document.getElementById('mas-informacion3');

        botonVerMas3.addEventListener('click', function(){
            masInformacion3.classList.toggle('hidden');
        });

        const botonVerMas4 = document.getElementById('ver-mas4');
        const masInformacion4 = document.getElementById('mas-informacion4');

        botonVerMas4.addEventListener('click', function(){
            masInformacion4.classList.toggle('hidden');
        });
    </script>



    <hr><br>
    <footer>
        <div style="text-align: center">
            <h4 style="color: white;">ENCUÉNTRANOS EN</h4>
            <a href="https://www.facebook.com/manuel.benaventa.5/" target="_blank"><img src="/img/facebook.png" alt="logo de facebook" width="30px"></a>
            <a href="https://www.instagram.com/iamdeemanb/" target="_blank"><img src="/img/instagram.png" alt="Logo de Instagram" width="30px"></a>
            <a href="https://youtube.com/playlist?list=PLnFuxndZgZsSavNSK25ePK1Cqttf7eZNT&si=dK5VcEoavNDBRNXD" target="_blank"><img src="/img/youtube.png" alt="Logo de Youtube" width="30px"></a>
            <p style="color: white;">©1889-2024 THE MISTER Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>