<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginfail.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
</head>
<body><br><br><br><br><br><br><br><br>
    <h1>Ha ocurrido un error</h1><br><br>
    <h3>Datos inválidos</h3><br><br><br>
    <a href="/index"><img src="/img/back.png" width="30" id="boton"></a>
</body>
<style>
    h3{
        text-align: center;
        color: white;
    }
    #boton{
                margin-left: 48%;
            }
</style>
</html> 