<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE MISTER</title>

</head>
<body style="background-color: #24303c;">
    <div class="container" style="text-align: center;">
    <h1 style="color: white;">¡Compra realizada con exito!</h1>

    <a style="text-decoration: none; color: white;" type="button" class="btn btn-dark" href="/clientes">Volver al catálogo</a>
    </div>



</body>
</html>