@media screen and (min-width: 768px) {
    .body{
        flex-wrap: nowrap;
    }
    .header{
        position: fixed;
    }
}

@media screen and (width<600px) {
    .body{
        flex-wrap: nowrap;
    }
    .header{
        position: fixed;
    }
}