*{
	margin: 0;
	padding: 0;
}

body{
background: #191c32;
}

#login{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background:rgb(255, 255, 255, .4);
	width:50%;
	height:60vh;
	margin:45px auto;
	border-radius:10px 10px 10px 10px;
	position: relative;
	
	transform: translateY();
}
label{
	font-weight: bold;
	font-size: 25px;
	color:rgb(0, 0, 0);
	font-family:'Courier New', Courier, monospace;
	cursor: text;
}
h1{
	font-family:'Courier New', Courier, monospace;
	text-align:center;
	font-weight:unset;
	color: rgb(255, 255, 255);
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;
}
input{
padding:8px;
border-radius:10px 10px 10px 10px;
}
#iniciar{
	margin-top:10px;
	padding: 7px;
	border-radius:10px 10px 10px 10px;
	cursor: pointer;
}

#Backinit{
	margin-left: 49%
};