<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/otros.css">
    <title>THE MISTER</title>
    <link rel="shortcut icon" href="/img/1Logo.png" type="image/x-icon">
</head>
<body>
    <br><br><br><br><br>
    <div>
        <form action="/updatectg/<%= categorias.id %>" method="post">
            <input class="mov" type="text" name="nombre" id="nombre" value="<%= categorias.nombre %>" required maxlength="25" minlength="4"><br><br><br>
            <button type="submit" class="btn_btn-primary">Actualizar</button>
        </form>
    </div>

    <a href="/categorias"><img src="/img/back.png" width="30" id="volverAtras"></a>

    <style>
        .mov{
            width: 30%;
            background: #ffffff;
            padding: 10px;
            border-radius:10px 10px 10px 10px;
            border: 1px solid #24303c;
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-left: 34%;
        }
    </style>
</body>
</html>